<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Training Manager Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Training Manager.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Watch Training Manager Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>78E3FA2B28E33BCD002CC7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78E3FA3B28E33BCE002CC7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78E3FA4528E33BCE002CC7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78E3FA5128E33BCE002CC7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78E3FA6328E33BCF002CC7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78E3FA6D28E33BCF002CC7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
